<div id="home">
    <div id="logo-container">
        <a href="#">
            <img id="logo" src="assets/images/logo.png" alt="StreamMingle">
        </a>
    </div>
    <div id="home-video">
        <video autoplay muted loop>
            <source src="assets/videos/home-video.mp4" type="video/mp4">
        </video>
        <div class="caption">
            <h1>Your All-Access Pass to Movie Marvels!</h1>
            <p id="description">{{description}}</p>
        </div>
        <div class="content">
            <div id="signUpButton">
                <button type="button" class="btn btn-primary btn-lg">Sign Up!</button>
            </div>
            <div id="signInButton">
                <button type="button" class="btn btn-link">Are you already on StreamMingle? Log in</button>
            </div>
            <div id="footer">
                <footer>© 2023 StreamMingle</footer>
            </div>
        </div>
    </div>
</div>

